* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 5px solid #750D37;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 2px 2px rgb(220, 220, 220);
}

main {
    margin-top: 50px;
}

ul {
    text-align: right;
    background-color: #B3DEC1;
    padding: 20px 0px 20px 0px;
}

li {
    display: inline;
    padding: 0px 30px 0px 15px;
    font-size: 20px;
    background-color: #B3DEC1;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(5, 62, 5);
    background-color: #B3DEC1;
}

a:hover {
    color: whitesmoke;
}

a:visited {
    color:#210124;
}

h1 {
    color: #210124;
}

img {
    height: 400px;
    width: 500px;
    margin: 80px 0px 50px 0px;
    border: 10px solid #210124;
    outline: 15px solid #B3DEC1;
    box-shadow: 0px 0px 0px 30px rgb(5, 62, 5);
}

.bio {
    text-align: center;
}

p {
    font-weight: bold;
    color: rgb(5, 62, 5);
    padding-left: 30%;
    padding-right: 30%;
}

.contact {
    text-align: center;
    background-color: #E5FcF5;
    padding: 30px 30px 30px 30px;
    margin-top: 30px;
    border-top: 3px solid rgb(5, 62, 5);
    border-radius: 5px 5px 5px 5px;
}

h2 {
    color: #210124;
    background-color: #E5FcF5;
    padding-bottom: 20px;
}

.contact-container {
    border: 5px solid #B3DEC1;
    margin-left: 30%;
    margin-right: 30%; 
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.name-box, .email-box, #button {
    background-color: #E5FcF5;
    margin-bottom: 10px;
}

label {
    color: #210124;
    font-weight: bold;
}

#email, #name {
    width: 250px;
}

button {
    background-color: #750D37;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
} 

button:hover {
    color: #B3DEC1;
    border: 3px solid #B3DEC1;
}

#copy {
    background-color: #B3DEC1;
}

footer {
    text-align: center;
    color:rgb(5, 62, 5);
    border-top: 5px solid #750D37;
    border-radius: 10px 10px 10px 10px;
    background-color: #B3DEC1;
    padding: 20px 0px 20px 0px;
}
